<div class="row ms-5">
  <div class="col-md-12 my-3">
    <h1 class=" mt-4 mb-4 text-center">Categories</h1>

    <div class="row">
      <% @categories.each do |category| %>
        <div class="card shadow me-2" style="width: 18rem; height: 18rem; ">
        <img src="..." class="card-img-top" alt="...">
          <div class="my-auto mb-5 mx-auto">
            <div card="card-body my-auto mb-5 mx-auto">
              <h4 class="card-title"><i><%= category.name%></i></h4>
              <%= link_to "View Details", category, class:"btn btn-outline-success mb-1"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Add new category", new_category_path, class:"btn btn-outline-secondary mt-3 mb-1" %>