<div class="container">
  <div class="row ms-5">
    <div class="col-md-16 my-3">
      <h1 class=" mt-4 mb-4 text-center"><span class="badge rounded-pill bg-dark">Categories</span></h1>

      <div class="row">
        <% @categories.each do |category| %>
          <div class="card shadow me-2" style="width: 18rem; height: 18rem; ">
            <div class="my-auto mb-5 mx-auto">
              <% if category.cat_image.attached? %>
                <%= image_tag category.cat_image, class: "card-img-top" %>
              <% end %>
              <div card="card-body my-auto mb-5 mx-auto">
                <h4 class="card-title"><i><%= category.name%></i></h4>
                <%= link_to "View Books", category, class:"btn btn-outline-success mb-1"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% if user_signed_in? && current_user.has_role?(:admin) %>
        <%= link_to "Add new category", new_category_path, class:"btn btn-secondary mt-4" %>
      <% end %>
    </div>
  </div>
</div>