<div class="row">
  <div class="col-md-16 my-3">
    <h1 class=" mb-4 text-center"><span class="badge rounded-pill bg-dark">CATEGORIES</span></h1>

    <div class="row ms-2">
      <% @categories.each do |category| %>
        <div class="card shadow me-1 mt-2" style="width: 17rem; height: 18rem; ">
          <div class="my-auto mb-5 mx-auto">
            <% if category.cat_image.attached? %>
              <center><%= image_tag category.cat_image, class: "card-img-top mt-2", height:170, width:110 %></center>
            <% end %>
            <div card="card-body">
              <div class="text-center mt-1"><h4 class="card-title"><i><%= category.name%></i></h4></div>
              <center><%= link_to "View Books", category, class:"btn btn-outline-success mb-1 mt-2"%></center>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? && current_user.has_role?(:admin) %>
      <%= link_to "Add new category", new_category_path, class:"btn btn-secondary mt-4" %>
    <% end %>
  </div>
</div>
