<div class="card mb-3">
  <div class="card-header text-center mb-1 bg-dark text-light">
    <%= review.user.email %>
  </div>
  <div class="card-body text-center mt-2 mb-2">
    <%= review.body %>
  </div>
</div>