<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a>
      <img alt="Hospital Management logo"width="30" height="24" class="d-inline-block align-text-top" src="/assets/bootstrap-logo.svg">
      <b>ThriftBooks</b>
    </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>